# Node modules
node_modules/

# Logs
*.log

# Dependency directories
/dist/
/build/

# Package lock files
package-lock.json

# Environment files
.env
.env.local
.env.*.local

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
